<!DOCTYPE html>
<html>
  <head>
    <title id="logo">BeRana</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Felipa|Italianno" rel="stylesheet">
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag  'application' %> 
    <%= stylesheet_link_tag    'application', media: 'all' %>
    
  </head>
  <body>
    <header>
      <%= render( :partial =>'layouts/navbar')%>
    </header>
    <div class="main">
      <%= yield %>
    </div>
    <footer>
      <div id="footer">
        <%= render(:partial => 'layouts/footer')%>
      </div>
    </footer>
  </body>
</html>
